In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [20]:
fire=pd.read_csv("fire.csv")

In [22]:
fire.head(1)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>address_qualifier</th>
      <th>borough_code</th>
      <th>borough_name</th>
      <th>cal_year</th>
      <th>date_of_call</th>
      <th>easting_m</th>
      <th>easting_rounded</th>
      <th>first_pump_arriving_attendance_time</th>
      <th>first_pump_arriving_deployed_from_station</th>
      <th>frs</th>
      <th>...</th>
      <th>property_type</th>
      <th>second_pump_arriving_attendance_time</th>
      <th>second_pump_arriving_deployed_from_station</th>
      <th>special_service_type</th>
      <th>stop_code_description</th>
      <th>time_of_call</th>
      <th>timestamp_of_call</th>
      <th>ward_code</th>
      <th>ward_name</th>
      <th>ward_name_new</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Within same building</td>
      <td>E09000007</td>
      <td>CAMDEN</td>
      <td>2017</td>
      <td>2017-01-20</td>
      <td>529459.0</td>
      <td>529450</td>
      <td>359.0</td>
      <td>Euston</td>
      <td>London</td>
      <td>...</td>
      <td>Purpose built office</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>AFA</td>
      <td>08:57:38</td>
      <td>2017-01-20 08:57:38</td>
      <td>E05000129</td>
      <td>BLOOMSBURY</td>
      <td>BLOOMSBURY</td>
    </tr>
  </tbody>
</table>
<p>1 rows × 32 columns</p>
</div>

In [18]:
a+2

14